body {
    margin: 0px;
}
#header {
    background-color: rgba(240, 255, 255, 0.822);
    width: 100%;
    height:100px;
    display:inline-flex;
}
.menu{
    width:70%;
    margin-top: 30px;
    text-align: right;
}
ul{
    display: inline-flex;
}
li {
    padding: 0px 28px 0px 28px;
}